---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    title: string;
    description: string;
    scopes: Array<string>;
    href: string;
    imgPath: string;
    altText: string;
}

const { href, title, description, scopes, altText, imgPath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
    "../assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imgPath])
    throw new Error(
        `"${imgPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<div class="button-wrap">
    <a href={href}>
        <div class="button menu sm:flex sm:items-end sm:justify-between">
            <div class="description-wrap flex flex-col justify-between">
                <div class="project-title text-6xl pb-1">{title}</div>
                <div class="project-description text-base pb-2">
                    {description}
                </div>
            </div>
            <div class="project-scope flex text-xs pb-2">
                {
                scopes.map((scope,index) => (
                index == (scopes.length - 1) ?
                <p>{scope}</p> : 
                <p>{scope}</p> <span class="px-2">&#47;</span>
                ))
                } 
            </div>
        </div>
        <div class="img-wrap hidden">
            <Image src={images[imgPath]()} alt={altText} width="500" />
        </div>
    </a>
</div>

<style>
    .button-wrap {
        width: 100%;
        font-family: "TT Fors";
        height: max-content;
    }

    .button:last-child {
        border-bottom: none;
    }

    .button {
        border-bottom: 1.5px solid var( --color-border-secondary);
        height: max-content;
        padding: 2rem 0 2rem 8vw;
    }

    .project-title {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -0.0125em;
        line-height: 0.9;
        transform: scaleY(1.05);
        font-size: clamp(3rem, 5vw, 5rem);
    }

    .description-wrap {
        height: 100%;
        max-width: 50%;
    }

    .project-description {
        line-height: 1.1;
    }

    .project-scope {
        text-transform: uppercase;
        font-variation-settings: "wght" 500;
    }

    .img {
        position: relative;
        font-size: 2rem;
    }
</style>
