---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const project = await getCollection("project");
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<!-- <BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen px-6">
      <Nav />
      <main class="container grow w-full max-w-3xl md:mx-auto">
        <div class="menu flex flex-col items-center gap-24 md:my-24">
          <div class="flex flex-col items-start gap-8">
            <div class="flex flex-col items-start gap-2">
              <h1 class="text-4xl pb-1">{frontmatter.title}</h1>
              <h2 class="text-lg">{frontmatter.description}</h2>
            </div>
            <div class="tags flex flex-row text-xs pb-1">
              {frontmatter.tags.map((tag) => <div class="pr-4">{tag}</div>)}
            </div>
            <!-- <img
              src={frontmatter.coverImage.url}
              alt={frontmatter.coverImage.alt}
            /> -->
          </div>
          <div
            class="detail-box flex flex-col items-start gap-8 py-8 px-6 text-sm"
          >
            <div class="line hidden md:flex"></div>
            <div class="flex flex-col md:flex-row items-start gap-4 md:gap-20">
              <div class="detail">
                <div class="detail-title">{frontmatter.detail1.title}</div>
                <div class="detail-content">
                  {frontmatter.detail1.content.map((content) => <div>{content}</div>)}
                </div>
              </div>
              <div class="detail">
                <div class="detail-title">{frontmatter.detail2.title}</div>
                <div class="detail-content">
                  {frontmatter.detail2.content.map((content) => <div>{content}</div>)}
                </div>
              </div>
              <div class="detail">
                <div class="detail-title">URL</div>
                <div class="detail-content flex flex-col items-start gap-1">
                  {frontmatter.links.url.map((url,index) => <a class="flex flex-row" href={url}>{frontmatter.links.title[index]}</a>)}
                </div>
              </div>
            </div>
          </div>
        </div>
        <slot />
        <Footer />
        <script></script>
      </main>
    </div>
  </body>

  <style>
    h1 {
      font-family: "TT Fors";
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: -0.0125em;
      line-height: 0.9;
      transform: scaleY(1.05);
      /* font-size: clamp(3rem, 5vw, 5rem); */
      font-size: 2.75rem;
      margin: 0.5rem 0;
    }

    h2 {
      line-height: 1.1;
      font-weight: 400;
    }

    .tags {
      font-family: "TT Fors";
      text-transform: uppercase;
      font-weight: 500;
    }

    .detail-box {
      border: 1.5px solid var(--color-border-secondary);
      min-width: 60%;
    }

    .detail {
    }

    .detail-title {
      font-family: "TT Fors";
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 0.5rem;
    }

    .line {
      width: 26px;
      border-bottom: 1.5px solid var(--color-border-secondary);
    }
  </style>
</html>
