---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Lightbox from "../components/Lightbox.astro";
import "../styles/global.css";

const {
  projectTitle,
  projectDescription,
  summary,
  tags,
  detail1Title,
  detail1Content,
  detail2Title,
  detail2Content,
  detail3Title,
  detail3Content,
  detail4Title,
  detail4Content,
  linksURL,
  linksTitle,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{projectTitle}</title>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <Nav bg="bg-main" showButtons={true}/>
      <main class="w-full">
        <!-- Overview -->
        <div class="project-overview flex flex-col items-left gap-24 my-12 max-w-5xl mx-auto md:flex-row mt-24 mb-12 px-6">
          <div class="w-full flex flex-col items-left gap-6">
            <div class="w-full flex flex-col items-left gap-2">
              <h2 class="text-base text-left md:text-lg">{projectDescription}</h2>
              <h1 class="text-4xl text-left md:text-6xl pb-1">{projectTitle}</h1>
            </div>
            <div class="tags flex flex-wrap pb-1">
              {
                tags.map((tag,index) => (
                index == (tags.length - 1) ?
                <p>{tag}</p> : 
                <p>{tag}</p> <span class="px-2">&#47;</span>
                ))
                } 
            </div>
          </div>
        </div>

        <div
        class="flex flex-col lg:grid lg:grid-cols-8 items-center"
        >
        <div class="col-span-5 flex flex-col">
          <!-- Slot for cover image -->
          <slot name="cover-img" />
          <slot />
        </div>
        <div class="hidden col-span-3 lg:flex flex-col">
          <h5 class="w-full max-w-2xl px-20">
            {summary.map((line) => (
            <p>{line}</p>
          ))}
          </h5>
        </div>
        </div>


        <!-- Detail Lists -->
        <div class="lg:hidden flex flex-col mt-28 md:mt-36 mb-24 mx-auto items-center px-6">
          <h4 class="w-full max-w-2xl">
            {summary.map((line) => (
            <p>{line}</p>
          ))}
          </h4>        
        </div>

        <div
          class="detail-box w-10/12 md:w-8/12 mb-28 md:mb-36 lg:mt-36 max-w-2xl mx-auto flex flex-col items-start gap-6 p-10 md:px-20 md:py-16 text-sm"
        >
          <div class="line hidden md:flex"></div>
          <div class="grid grid-cols-1 w-full md:grid-cols-2 gap-y-10 gap-x-24">
            <div class="detail">
              <div class="detail-title">{detail1Title}</div>
              <div class="detail-content">
                {detail1Content.map((content) => <div class="detail-item">{content}</div>)}
              </div>
            </div>
            <div class="detail">
              <div class="detail-title">{detail2Title}</div>
              <div class="detail-content">
                {detail2Content.map((content) => <div class="detail-item">{content}</div>)}
              </div>
            </div>
            {detail3Title && <div class="detail">
              <div class="detail-title">{detail3Title}</div>
              {detail3Content && <div class="detail-content">
                {detail3Content.map((content) => <div class="detail-item">{content}</div>)}
              </div>}
              {!detail4Title && <div class="detail-content flex flex-col items-start gap-1">
                {
                  linksURL && linksURL.map((url, index) => (
                    <a class="detail-item detail-link" href={url} target="_blank" rel="noopener noreferer">
                      {linksTitle[index]}
                    </a>
                  ))
                }
              </div>}
            </div>
            }
            {detail4Title && <div class="detail">
              <div class="detail-title">{detail4Title}</div>
              {detail4Content && <div class="detail-content">
                {detail4Content.map((content) => <div class="detail-item">{content}</div>)}
              </div>}
              <div class="detail-content flex flex-col items-start gap-1">
                {
                  linksURL && linksURL.map((url, index) => (
                    <a class="detail-item detail-link" href={url} target="_blank" rel="noopener noreferer">
                      {linksTitle[index]}
                    </a>
                  ))
                }
              </div>
            </div>
            }
          </div>
        </div>

        <!-- Slot for project content -->
        <slot name="content" />
        <slot />
        
        <Footer />
        <script></script>
      </main>
    </div>
    <Lightbox />
  </body>

  <style>
    main {
      background-color: var(--color-bg-main);
      font-family: "Figtree";
    }

    h1 {
      font-family: "LT Cushion";
      font-weight: 375;
      letter-spacing: -0.015em;
      line-height: 0.9;
      transform: scaleY(1.05);
      margin: 0.5rem 0;
    }

    h2 {
      line-height: 1.35;
      font-weight: 400;
    }

    p {
      letter-spacing: -0.02rem;
    }

    a.detail-item {
      color: var(--color-text-tertiary);
      text-decoration: none;
      position: relative;
      transition: 100ms ease;
      pointer-events: auto;
      border-bottom: 1.5px solid var(--color-border-secondary);
    }

    a.detail-item:hover {
      color: var(--color-text-main);
      border-bottom: 1.5px solid var(--color-border-main);
    }

    .tags {
      color:var(--color-text-secondary);
      text-transform: capitalize;
      transform: scaleY(1);
      transform-origin: 0 0;
      font-size: 0.85rem;
      letter-spacing: 0.01rem;
      line-height: 110%;
      font-weight: 450;
      display: flex;
      flex-wrap: wrap;
    }

    .detail-box {
      border: 1.5px solid var(--color-border-secondary);
    }

    .detail-title {
      font-family: "Figtree";
      letter-spacing: -0.01rem;
      text-transform: uppercase;
      color: var(--color-text-main);
      font-weight: 450;
      padding-bottom: 0.35rem;
    }

    .detail-item {
      color: var(--color-text-secondary);
      margin-bottom: 0.1rem;
      padding-bottom: 0.15rem;
      line-height: 1.3;
    }

    .line {
      width: 26px;
      border-bottom: 1.5px solid var(--color-border-secondary);
    }

    @media (min-width: 768px) {
      .detail-title {
      padding-bottom: 0.35rem;
    }
  }
  </style>
</html>
